@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    height: 100%;
    min-height: 100%;
  }
}

body {
  // 스크롤 숨기기
  -ms-overflow-style: none; /* IE and 엣지 */
  scrollbar-width: none; /* 파이어폭스 */
}
::-webkit-scrollbar {
  display: none;
}

@layer components {
  .flex-center {
    @apply flex flex-row justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
  .lending-middle-card {
    @apply flex flex-col justify-between rounded-lg bg-violet8 pt-60pxr desktop:pt-100pxr w-1200pxr h-600pxr tablet:w-664pxr tablet:h-972pxr mobile:w-343pxr mobile:h-686pxr;
  }
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src: local('Pretendard Black'),
    url('/fonts/Pretendard-Black.subset.woff2') format('woff2'),
    url('/fonts/Pretendard-Black.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src: local('Pretendard ExtraBold'),
    url('/fonts/Pretendard-ExtraBold.subset.woff2') format('woff2'),
    url('/fonts/Pretendard-ExtraBold.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'),
    url('/fonts/Pretendard-Bold.subset.woff2') format('woff2'),
    url('/fonts/Pretendard-Bold.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: local('Pretendard SemiBold'),
    url('/fonts/Pretendard-SemiBold.subset.woff2') format('woff2'),
    url('/fonts/Pretendard-SemiBold.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'),
    url('/fonts/Pretendard-Medium.subset.woff2') format('woff2'),
    url('/fonts/Pretendard-Medium.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'),
    url('/fonts/Pretendard-Regular.subset.woff2') format('woff2'),
    url('/fonts/Pretendard-Regular.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: local('Pretendard Light'),
    url('/fonts/Pretendard-Light.subset.woff2') format('woff2'),
    url('/fonts/Pretendard-Light.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: local('Pretendard ExtraLight'),
    url('/fonts/Pretendard-ExtraLight.subset.woff2') format('woff2'),
    url('/fonts/Pretendard-ExtraLight.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src: local('Pretendard Thin'),
    url('/fonts/Pretendard-Thin.subset.woff2') format('woff2'),
    url('/fonts/Pretendard-Thin.subset.woff') format('woff');
}

body {
  -ms-overflow-style: none; /* IE and 엣지 */
  scrollbar-width: none; /* 파이어폭스 */
}
::-webkit-scrollbar {
  display: none;
}
